<h1>Inventorier: Welcome</h1>
<p>Welcome to <em>Inventorier</em>, a determinedly independent place to keep track
of what you're reading, watching, and playing, and share the information you want
with the people with whom you want to share it, easily, and freely.</p>
